*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none ;
    filter: none;
    text-decoration: none;
}

body {
    background-color: #fff;
}

.col-1 {
    background-image: url(/assets/backgrond-navbar1.png);
    width: 100vw;
    height: 700px;
}

.col-1 header {
    background: rgba(13, 1, 56, 0.24);
    height: 50px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 200;
    width: 100%;
}

.btn {
    display: none;
}

.hamburguer {
    display: none;
}

.col-1  ul {
    display: flex;
    margin-right: 3rem;
    list-style: none;
    height: 12px;
}

.col-1 li a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: .8rem;
    margin-right: 2rem;
    text-decoration: none;   
}
.col-1 li a:hover {
    padding-top: 1rem;
    border-top:1px solid #4c76ff;
    height: 20px; 
}

.col-1 p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-size: 1.3rem;
    margin-left: 5rem;
}

.c-blue {
    color: #4c76ff;
}

.texts-logos {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text-navbar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    color: whitesmoke;
    text-align: center;    
}

.main-text-navbar p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-left: 0;
    font-size: 3.5rem;
}

.barras-laterais-1 {
    font-size: 1.4rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
}

.barras-laterais-1::before {
    bottom: 44%;
    position: absolute;
    content: '';
    height: 1px;
    width: 30px;
    background-color: #4c76ff;
    right: 110%;
}

.barras-laterais-1::after {
    bottom: 44%;
    position: absolute;
    content: '';
    height: 1px;
    width: 30px;
    background-color: #4c76ff;
    left: 110%;
}


.logos-navbar {
    text-align: center;
    margin-top: 4rem;
}

.logos-navbar a {
    margin-left: .5rem;
}

#features {
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: white;
}

#features nav {
    width: 70%;
}

#features div {
    width: 100%;
    text-align: center;
}

.text-blue {
    text-align: center;
    color: #4c76ff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;  
    margin-bottom: -4rem;
}


.barras-laterais-svg {
    height: 1px;
    width: 100px !important;
    background-color: rgba(215, 218, 220, 1);
}

.icon{
   font-size: 1.2rem;
    color: rgba(204, 204, 204, 1);
    margin-left: 15px;
    margin-right: 15px;
}

.container-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}

.col-2 {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.col-2 img {
    height: 34px;
    padding-right: .7rem;
}

.iphone img {
    width: 100%;
    margin-right: 4rem;
 
}


.blocks-texts p {
    height: 75px;
    width: 79%;
    line-height: 1.6rem;
    text-align: left;
    font-size: .8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blocks-texts h3 {
    margin-bottom: 1.3rem;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.text-col-3 {
    background-color: #c7c7c769;
    line-height: 2rem;
    padding-top: 7rem;
    text-align: center ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#col-3 {
    background-color: #c7c7c769;
    display: flex;
    justify-content: center;
    align-items: center;   
    padding-top: 5rem; 
    
}

.col-text {
    display: flex;
}

.col-text img {
    margin-left: 1.2rem;
}


.col-text img {
    margin-right: 1.2rem;
    width: 28px;
    height: 27px;
}

.col-interno {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5rem;
}

.col-interno p {
    
    line-height: 2rem;
    font-size: 1rem;
}

.col-p {
    display: flex;
    justify-content: center;
}

.col-p p {
    width: 50%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    margin-top: -5rem;
}

.container-but {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 7rem; 
}

.container-but a {
    text-decoration: none;
    margin: 15px;
    padding: 10px 25px 10px 25px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-but a:hover {
    border-radius: 10px;
    background-color: #4c76ff;
    color: white ;
}

.col-img-1 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}



.tumb{
    background-color:blue;
    position: relative;
    width: 25%; 
   
}

.tumb img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .content{
    position: absolute; 
    top: 0;
    width:100%; 
    height: 100%; 
    color: #FFF;
    font-size: 0;
  }

  .content:hover{
    transition: all .4s ease-in-out;      
    opacity: .7;
    background-color: #4c76ff; 
    font-size:1.4rem;
    display: block;
  }

  .text{
    margin:auto;
    text-align:center;    
  }
 
  .svg-eye {
    opacity: 0;
    width: 10%;
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
    margin-top: 7rem;
    padding-bottom: .5rem;
  }

 .img-blur:hover {
      filter: blur(5px);
  }

  .tumb:hover .svg-eye {
    position: fixed;
    transition: all .4s ease-in-out;      
    opacity:1;
    width: 10% ;
    height: 10%;   
}



.profile-card {
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 7rem;
    width: 100%;
    color: white;
}

.card-image {
    text-align: center;
}

.card-image h3 {
   margin: 0.5rem 0.5rem;
}


.card-image {
    width: 18%; 
    height: 18%;
}

.card-image img {
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    
}

.back {
    width: 100%;
    height: 100%;
}

.card-image:hover .back {
    border: 1px solid red;
    width: 100%; 
    height: 100%;
}

#some-fun-facts {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.discordapp.com/attachments/854958362727153744/860259226844921877/grand-palace-1822487_1920.jpg');
   height: 100%;
   width: 100%;
   background-size: cover;
}

.card-pai {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 7rem;
}

.card i {
    color: #FFF;
    font-size: 2rem;
    margin-bottom: 2.3rem;
    padding: 2.3rem;
    border-radius: 50%;
    border: 2px solid #6d7985;
}

.card p {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card :nth-child(2) {
    font-size: 3rem;
}


.card-pai {
    padding-bottom: 8rem;
}

.info {
    padding: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.dados {
    width: 16%;
}

.dados h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2rem;
    width: 70%;
}

.dados p {
    line-height: 1.8rem;
    font-size: .8rem;
    color: #979da1;
    margin-top: .8rem;
    width: 73%;
}

.message {
    width: 74%;
    margin-bottom: 5rem;
}

.message h3 {
    margin-bottom: 2rem;
}

.inputs {
    width: 100%;
}

.inputs input:nth-child(1), .inputs input:nth-child(2){
    padding: .6rem;
    width: 48.2%;
    border: none;
    border-bottom: 1px solid #979da1;
    margin-bottom: 2.5rem;
    margin-right: 2.1rem;
}

.message input {
    padding: .6rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #979da1;
}

.message p {
    margin-top: 1.5rem;
    text-align: right;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    text-align: center;
}

.social i {
    font-size: 1.5rem;
}

.maps {
    width: 100%;
    height: 20rem;
}

.maps iframe {
    width: 100%;
    height: 100%;
    
}

.footer {
   display: flex;
   justify-content: center; 
   align-items: center;
   background-color: black;
   gap: 5rem;
   color: white;
   height: 18rem;
   padding-bottom: 2rem;
}

.text-primary {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.text-primary h2 {
    margin-bottom: 2rem;
    width: 100%;
}

.text-primary p {
    width: 100%;
    line-height: 1.5rem;
    font-size: .8rem;
}

.subscribe {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.subscribe p {
    width: 100%;
    font-size: .8rem;
    line-height: 1.5rem;
}

.search {
   width: 20rem;
   border: 2px solid white;
   display: flex;
   justify-content: space-between;
   border-radius: .2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.search input, .setinha {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    border: none;
    padding: .7rem;
    color: white;
}

.search input {
    width: 100%;
}

.setinha i {
    color: white;
}

.explore {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explore h4 {
    margin-bottom: 2rem;
}

.companies {
    display: flex;
    gap: 3rem;
    margin-bottom: ;
}

.companies ul li{
    list-style: none;
    margin-bottom: 1rem;
    font-size: .8rem;
}

html {
    scroll-behavior: smooth;
}
   
  :target {
    scroll-margin-top: .8em;
  }
